<launch>

    <!-- start gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find viscap_gazebo)/worlds/imav_indoor_2016.world"/>
    </include>

    <!-- spawn one quadrotor -->
    <include file="$(find viscap_gazebo)/launch/spawn_quadrotor.launch">
        <arg name="id" value="1"/>
    </include>

    <!-- control the quadrotor with a joystick -->
    <node name="joy" pkg="joy" type="joy_node">
        <param name="dev" value="/dev/input/js0" />
    </node>
    <node name="joystick_control" pkg="viscap_gazebo" type="joystick_control" />
    <node name="image_view" pkg="image_view" type="image_view">
        <remap from="image" to="/quadrotor_1/front/image_raw"/>
    </node>

    <!-- transforms for the laser and odometry -->
    <node name="transform_publisher" pkg="viscap_gazebo" type="transform_publisher" />

    <!-- slam node -->
    <node name="gmapping" pkg="gmapping" type="slam_gmapping">
        <param name="base_frame" value="base_link" />
        <param name="odom_frame" value="odom" />
        <remap from="scan" to="/quadrotor_1/scan" />
    </node>

    <!-- Run RVIZ-->
    <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find viscap_gazebo)/rviz_config/slam.rviz" />

</launch>
