<launch>

    <arg name="model" default="$(find viscap_gazebo)/urdf/quadrotor.urdf.xacro"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="1"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="id" default="1"/>
    <!-- send the robot XML to param server -->
    <param name="robot_description_$(arg id)" command="$(find xacro)/xacro --inorder '$(arg model)' id:=$(arg id)" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_robot_$(arg id)" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description_$(arg id)
        -urdf
        -x '$(arg x)'
        -y '$(arg y)'
        -z '$(arg z)'
        -R '$(arg R)'
        -P '$(arg P)'
        -Y '$(arg Y)'
        -model quadrotor_$(arg id)"
        respawn="false" output="screen"/>

    <!-- state estimator -->
    <!--node ns="quadrotor_$(arg id)" name="hector_pose_estimation_$(arg id)" pkg="hector_pose_estimation" type="pose_estimation" output="screen"/-->

    <!-- publish base frame to tf -->
    <node ns="quadrotor_$(arg id)" name="ground_truth_to_tf_$(arg id)" pkg="message_to_tf" type="message_to_tf" output="screen">
        <param name="odometry_topic" value="/quadrotor_$(arg id)/ground_truth/state" />
        <param name="frame_id" value="map" />
        <param name="footprint_frame_id" value="base_footprint" />
        <param name="position_frame_id" value="base_position" />
        <param name="stabilized_frame_id" value="base_stabilized" />
        <param name="child_frame_id" value="base_link" />
    </node>

</launch>
